* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Skranji', cursive;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #111;
  width: 80%;
  margin: 1rem auto 0 auto;
  border-bottom: 5px solid red;
}
h1 {
  font-size: 4rem;
  color: #fff;
  padding: 1rem 2rem;
}
h2 {
  width: 85%;
  margin: 0 auto 30px 30px;
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
}

p {
  text-align: center;
}
img {
  border: 5px solid white;
  background-color: black;
  padding: 20px;
  margin: 30px 20px 0px 20px;
}
#result {
  margin: 2rem 0;
  color: #fff;
  font-size: 2rem;
}
#randomNum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  align-content: center;
}

#wins,
#losses {
  margin-top: 2rem;
  background-color: red;
  color: #fff;
  font-size: 20px;
  padding: 20px 30px 20px 30px;
}
#winner h2,
#loser h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  background-color: red;
  margin: auto;
  color: #fff;
}
.container-black {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-top: 20px;
  width: 80%;
  background-color: #111;
}

.containerJewels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-totalScore {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.containerWinsLosses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #111;
  width: 80%;
  margin: auto;
  color: #fff;
  padding: 20px;
  border-top: 5px solid red;
}

@media (max-width: 850px) {
  .containerJewels {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .containerJewels {
    grid-template-columns: 1fr;
  }
}
